body 
{
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	font-size: 24px;
	margin: 1%;
}
p 
{
	margin: 5px;
}
ul
{
	margin: 1px;
}
li
{
	margin: 0px;
}
img
{	
	max-width: 90%;
}
.fix
{
    position:fixed;
    bottom:1%;
    right:1%;
    width:30%; 
}
